@tailwind base;
@tailwind components;
@tailwind utilities;



.logos {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.logos::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}


.logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}


.logos::before,
.logos::after {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logosslider {
    display: flex;
    animation: brand_logo_slider 40s linear infinite;
    
    flex-shrink: 0;
}

@keyframes brand_logo_slider {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}



.logos:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.card {
    position: sticky;
    top: 0;

}

.card__inner {
    padding: 32px 64px 16px;
    will-change: transform;
    background: white;
    display: flex;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px hsla(265.3, 20%, 10%, 35%);
    transform-origin: center top;
}

.cards {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(var(--cards-count), var(--card-height));
    gap: 40px 0;
}



.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

.card__content {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
}

.new_nav {
    position: sticky;
    top: 0;
    z-index: 100;

}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-card {
    flex: 0 0 100%;
    display: flex;
    gap: 6px;
    align-items: start;
    
}


.carousel-button {
    width: 32px;
    height: 32px;
    background-color: #2f5eff; 
    color: white;
    font-size: 1.5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7); 
}

.carousel-button:focus {
    outline: none;
}


#prev {
    left: 1px;
}

#next {
    right: 1px;
}



.logos_developer {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.logosslider_developer {
    display: flex;
    animation: brand_logo_slider_developer 30s linear infinite;
    flex-shrink: 0;
    min-width: 100%; 
}

@keyframes brand_logo_slider_developer {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


.Code_Editor::after{
    top: 0;
    background: linear-gradient(to top,#032A3E,transparent);
}

.Code_Editor:hover:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 2;
    transition: height 5s;
}


.Code_Editor:hover button {
    display: block;
}

#dropdownContent1,
#dropdownContent2,
#dropdownContent3,
#dropdownContent4,
#dropdownContent5 {
    transition: all 0.3s ease; /* Smooth transition */
}

.hidden {
    display: none;
}



@media (max-width: 640px) {
    #dropdownContent .absolute {
        position: relative; /* Change from absolute to relative */
        margin-top: 1rem; /* Add margin to create space */
    }
}

  