
.box1{
    margin: 20px;
    max-width: 200px;
    max-height: 200px;
    border: 1px solid black;
    overflow: scroll;
}

.box2{
    margin: 20px;
    max-width: 200px;
    max-height: 200px;
    border: 1px solid black;
    overflow: hidden;
}
